.footer {
    background-color: black;
    color: white;
    padding: 2rem 0;
  }
  
  .topSection {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .supportHeading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .supportText {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .subscriptionForm {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .emailInput {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    color: #000;
    flex-grow: 1;
  }
  
  .subscribeButton {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .horizontal-line {
    background-color: #B87333; /* Golden brown */
    width: 100%; 
    height: 2px;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
  }